﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FLOWBACK.aspx.cs" Inherits="FLOWBACK" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>報表預覽頁面</title>
    <script type="text/javascript" language="javascript">
        function CloseWindow() {
            window.opener = null;
            window.open("", "_self");
            window.close();
        }    
    
    </script>
</head>
<body style="margin:0px;" > <%--onload="CloseWindow()">--%>
    <form id="form1" runat="server">
        <iframe name="IFRAME1"  id="IFRAME1" runat="server" style="width: 100%; height: 100%;" frameborder="0">您的瀏覽器不支援內置框架或目前的設定為不顯示內置框架。</iframe>
    </form>
</body>
</html>
