﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="REPORT.aspx.cs" Inherits="REPORT" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>報表預覽頁面</title>
</head>
<body style="margin:0px;">
    <form id="form1" runat="server">
       <!-- <iframe name="if"  id="IFRAME1" runat="server" style="width: 100%; height: 600px;" frameborder=no>您的瀏覽器不支援內置框架或目前的設定為不顯示內置框架。</iframe>-->
    </form>
</body>
</html>
